.mt20 {
    margin-top: 20px;
}

.download {
    background: #663399;
    color: #fff;
    padding: 10px 20px
}

.text-right {
    text-align: right
}

.card {
    margin-bottom: 20px;
    font-size: 14px;
    color: #000;
    display: flex;
}
.card:hover{
    text-decoration: none;
    color:#000
}

.card-box {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    padding: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
}

.card-box-outline a {
    font-weight: bold;
    font-size: 14px;
}

.card-info ul {
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.card-info ul li {
    float: left;
    margin-left: 10px;
    margin:0;
}
header{
    width: 100%;
    padding-bottom: 0;
    
}
.header-wrapper{
    padding-top: 16px;
    padding-bottom: 16px;
}
.card-box-desc {
    font-size: 12px;
    margin-top: 16px;
    flex: 1 0 auto;
}
ul.nav.justify-content-end {
    margin: 0;
}
ul.nav.justify-content-end .nav-link{
    padding-left: 0;
}
.menu-contianer{
   
    width: 100%;
    border-bottom: 1px solid #eee;
}
.blog-post-card {
    padding: 18px 0px;
    border-bottom: 1px solid #7d7d7d;
}
.nav-tabs{
    border: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #e36209 #e1e4e8 transparent;
    border-top: 3px solid #e36209;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-info {
    font-size: 14px;
}
.card-box-desc p {
    max-height: 38px;
    height: auto;
    min-height: 38px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-box-outline {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer{
    width:100%
}
.footer {
    color: #fafafa;
    font-size: 14px;
}
.footer .text-center {
    text-align: center!important;
    padding: 12px 0px;
    line-height: 24px;
}
.repo-language-color {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.typeScript{
    background-color: #3572A5
}
.javaScript{
    background-color: #f1e05a
}
.html{
    background-color:#ffac45
}
.css{
    background-color: #b07219
}
.react{
    background-color: #00ADD8
}
.vue{
    background-color: #327e36
}
.python{
    background-color: #663399
}
.image-wrapper{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.author-row{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    color: #767676;
}
.license-text{
    justify-content: flex-end;
    display: flex;
    color: #327e36;
    font-weight: bold;
    text-transform: uppercase;
}
.author-text{
    justify-content: flex-start;
    display: flex;
}
.installs-text{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.page-wrapper{
    padding: 40px 0px;
}
p.perosnal-info {
    font-size: 14px;
    padding-left: 20px;
}
.perosnal-info h3,.perosnal-info p {
    margin-bottom: 8px;
}
.perosnal-info ul.nav{
    margin-left: 0px;
}
.perosnal-info li.nav-item {
    margin-right: 24px;
}
.perosnal-info li.nav-item a{
    color:#7d7d7d
}

.list-group {
    flex-direction: column;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.list-group-item+.list-group-item
{
    border-top-width: 1px;
}
.list-group-item  a{
    color: #000;
}
.list-group-item  a:hover{
   text-decoration: none;
}