
.exp-card {
    display: flex;
    padding: 20px;
    border: 1px solid #7d7d7d;
    margin-bottom: 20px;
    border-radius: 3px;
    flex-direction: column;
}
.title-container {
    height: 52px;
}
.src-link h5 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.author-cotnainer {
    font-size: 12px;
    color: #7d7d7d;
    height: 58px;
}
.view-btn-row{
    flex-direction: row;
    justify-content: flex-end;
}
.view-btn {
    background: transparent;
    border-radius: 32px;
    padding: 5px;
    width: 94px;
    line-height: 26px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: auto;
    color: #663399;
    border-color: #663399;
    border: 1px solid;
   
}
.view-btn a{
    
    color:#663399;
    font-weight: bold;
    font-size: 14px;
}